<!DOCTYPE HTML>
<html>
	<head>
		<meta content ='text/html; charset=UTF-8' http-equiv='Content-Type'content="" />
	</head>
	
	<body>
		<h1>Bienvenido a TalentumEmpleo, <%=@user.nombre%></h1>
		<p>Le gustaría realizar cursos de programación exitosos? No lo dude apuntese ya </p>
		<p>Recuerde visitarnos en : <a href="<%=@url%>"></a>Talentum Empleo</p>
	</body>	
</html>
