<form action="/user/create">
	Usuario: <input type="text" name="user" />
	E-mail: <input type="text" name="email" />
	<input type="submit" value="Crear">
</form>
<% @users = User.all %>
<table>
	<tr>
		<th>Id</th>
		<th>Nombre</th>
		<th>Email</th>
	</tr>
	<% for user in @users %>
	<tr>
		<td><%=user.id%></td>
		<td><%=user.user%></td>
		<td><%=user.email%></td>
	</tr>
	<% end %>
</table>
